<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="dao" class="dao.CustomerDao"></bean>
	<bean name="/login" class="action.LoginAction">
		<property name="icdao">
			<ref local="dao" />
		</property>
	</bean>
	
	<bean id="bdao" class="dao.BookDao"></bean>
	<bean name="/add" class="action.addAction">
		<property name="ibdao">
			<ref local="bdao" />
		</property>
	</bean>
	<bean name="/update" class="action.updateAction">
		<property name="ibdao">
			<ref local="bdao" />
		</property>
	</bean>
	<bean name="/queryname" class="action.querynameAction">
		<property name="ibdao">
			<ref local="bdao" />
		</property>
	</bean>
	<bean name="/queryprice" class="action.querypriceAction">
		<property name="ibdao">
			<ref local="bdao" />
		</property>
	</bean>
</beans>